<% provide(:title, "FAQ") %>
<div class="jumbotron">
  <div class="container faq">
  <div class="row">
    <div class="col-md-12 col-xs-12 text-center"><h3>Frequently Asked Questions and Answers</h3></div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul>
      <li class="form-group">
        <ul>
          <li>1. First Question</li>
          <li>Answer: This is an answer.</li>
        </ul>
      </li>
      <li class="form-group">
        <ul>
          <li>1. First Question</li>
          <li>Answer: This is an answer.</li>
        </ul>
      </li>
      <li class="form-group">
        <ul>
          <li>1. First Question</li>
          <li>Answer: This is an answer.</li>
        </ul>
      </li>
      <li class="form-group">
        <ul>
          <li>1. First Question</li>
          <li>Answer: This is an answer.</li>
        </ul>
      </li>
      <li class="form-group">
        <ul>
          <li>1. First Question</li>
          <li>Answer: This is an answer.</li>
        </ul>
      </li>
      <li class="form-group">
        <ul>
          <li>1. First Question</li>
          <li>Answer: This is an answer.</li>
        </ul>
      </li>
      <li class="form-group">
        <ul>
          <li>1. First Question</li>
          <li>Answer: This is an answer.</li>
        </ul>
      </li>
      <li class="form-group">
        <ul>
          <li>1. First Question</li>
          <li>Answer: This is an answer.</li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</div>

</div>