#loginform {
  #btn-login {
    display: inline-block;
  }
  #btn-fblogin {
    display: inline-block;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  #checkbox {
    padding-left: 0px;
  }
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}