.asearch {
  /*padding-left: 100px;*/
  background-color: white;
  /*min-height: 700px;*/
  .btn {
    /*width: 180px;*/
    
  }
  .btn-search {
    margin: 30px;
    padding: 15px;
    border-radius: 5px;
  }

  .search-wrapper {
   background-color: #EDE0D8;
   width: 85%;
   padding: 10px;
   margin: auto;
   /*min-width: 500px;*/
   .input-search {
    height: 48px;
   }
  }
}